body {
  background: lightgrey;
}
.zdarzenie {
  width: 100px;
  height: 100px;
  border: 1px;
  border-radius: 50px;
  background: red;
}
.zdarzenie:hover {
  background: green;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
button {
  margin-bottom: 20px;
}

#zdarzenia {
  margin-top: 50px;
}
#zdarzenia th, #zdarzenia td {
  padding: 4px;
}